body {
  background-color: black;
  background-image: url('../assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  font-family: 'Mohave';
  overflow: hidden;
}

h1 {
  font-family: "Zen Antique", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 40px;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
  padding-bottom: 100px;
}

p{
  padding: 40px 60px;
}
/* carousel*/

/* headings */

/* Images */

/* Navigation */

/* text */




.navbar-brand{
  font-size: 2.5rem;
  padding: 40px;
}
.nav-link{
  color: #fff;
  font-size: 2rem;
}
.nav-link:hover{
  color: #fff;
  text-decoration: underline;
}

.intro{
  position: relative;
  top: 300px;
  left: 100px;
}

.explore{
  position: relative;
  top: 600px;
  left: 300px;
}
