body {
  background-color: black;
  background-image: url('../assets/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #f6f6f6;
  font-family: 'Mohave';
  overflow: hidden;
}

h1 {
  font-family: "Zen Antique", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-bottom: 40px;
}

h2{
  font-size: 2rem;
  padding-top: 40px;
  padding-left: 60px;
}

p{
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 60;
  text-align: center;
}

li{
  font-size: 1.5rem;
  padding-top: 40px;
}
.navbar-brand{
  font-size: 2.5rem;
  padding: 40px;
}
.nav-link{
  color: #fff;
  font-size: 2rem;
}
.nav-link:hover{
  color: #fff;
  text-decoration: underline;
}

.tech-nav{
  color: gray;
  font-size: 2rem;
  padding-left: 120px;
  text-decoration: underline;
}


.tech-info{
  margin: 8rem;
  padding-bottom: 40px;
  text-align: center;
}
